@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: rgba(22, 160, 133, 1.0);
}

h2 {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; 
}

.text-center {
  color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
}

label {
  color: white;
}