<div class="container">
  <h1>POST QUOTES.</h1>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let quote of quotes">
        <h4 id="{{ quote.id }}" appStrikethrough>
          {{ quote.id }} - {{ quote.completeDate | date }}
        </h4>

        <button (click)="toggleDetails(quote.id)" class="btn btn-primary">
          View Details
        </button>
  
        <div *ngIf="quote.title">
          <app-quote-item *ngIf="quote.title" [quote]="quote"
            (isComplete)="deleteQuotes($event, quote.id)">
          </app-quote-item>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <app-quote-form (addQuotes)="addNewQuotes($event)"></app-quote-form>
    </div>
  </div>
</div>
